{{template "header" .}}
<div>
    <div>
        <p>Sign In to your account!</p>
    </div>
    <form action="/signin" method="post">
        <div>
            <label for="email">Enter your email:</label>
        </div>
        <div>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label for="password">Enter your password:</label>
        </div>
        <div>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
{{template "footer" .}}