{{define "header"}}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen bg-gray-100">
    <header class="bg-gradient-to-r from-green-800 to-emerald-800 text-white">
        <nav class="px-8 py-6 flex items-center justify-between">
            <!-- Left Side: App Name and Home/Contacts -->
            <div class="flex items-center space-x-12">
                <div class="text-4xl font-serif">Adil's Form Service App</div>
                <div>
                    <a class="text-lg font-semibold hover:text-green-100" href="/">Home</a>
                    <a class="text-lg font-semibold hover:text-green-100 ml-8" href="/contact">Contacts</a>
                </div>
            </div>
            {{if userSignedin}}
            <!-- Right Side: Dashboard/Profile/Sign Out -->
            <div class="flex items-center space-x-4">
                <a class="text-lg font-semibold hover:text-green-100" href="/dashboard">Dashboard</a>
                <a class="text-lg font-semibold hover:text-green-100" href="/profile">{{userEmail}}</a>
                <form action="/signout" method="post" class="inline">
                    <button type="submit" class="text-lg font-semibold hover:text-green-100">Sign out</button>
                </form>
            </div>
            {{else}}
            <div>
                <a href="/signin">Sign in</a>
                <a class="px-4 py-2 bg-blue-700 hover:bg-green-600 rounded" href="/signup">Sign up</a>
            </div>
            {{end}}
        </nav>        
    </header>
</body>
{{end}}
{{define "footer"}}
<script>
    function closeAlert(event) {
        let closeable = event.target.closest(".closeable");
        closeable.remove();
        // closeable.classList.add("hidden");
    }
</script>
</body>
</html>
{{end}}